NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=auth

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_ACCESS_SECRET=troque-por-um-segredo-forte-em-producao
JWT_REFRESH_SECRET=troque-por-outro-segredo-forte
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d
